<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.push.dao.mapper.platform.PhoneOrderUnavailableMapper">

    <insert id="saveBatch">
        INSERT INTO phone_order_unavailable ( upstream_user_id, upstream_name, shop_user_id, shop_name,
        upstream_order_no, platform_order_no,shop_order_no,order_sn,phone_num,phone_operator,
        type,city_code,province_code,city,province,order_price,shop_price,order_expire_time,
        order_expire_status,push_num,query_num,up_back_num,push_status,upstream_callback_status,
        shop_callback_status,platform_bill_status,shop_bill_status,upstream_bill_status,msg_status
        )
        VALUES
        <foreach collection="phoneOrderUnavailableList" index="index" separator="," item="po">
            (#{po.upstreamUserId},#{po.upstreamName},#{po.shopUserId},
            #{po.shopName},#{po.upstreamOrderNo},#{po.platformOrderNo},
            #{po.shopOrderNo},#{po.orderSn},#{po.phoneNum},
            #{po.phoneOperator},#{po.type},#{po.cityCode},
            #{po.provinceCode},#{po.city},#{po.province},
            #{po.orderPrice},#{po.shopPrice},#{po.orderExpireTime},
            #{po.orderExpireStatus},#{po.pushNum},#{po.queryNum},
            #{po.upBackNum},#{po.pushStatus},#{po.upstreamCallbackStatus},
            #{po.shopCallbackStatus},#{po.platformBillStatus},#{po.shopBillStatus},
            #{po.upstreamBillStatus},#{po.msgStatus})
        </foreach>
    </insert>
</mapper>
