<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.push.dao.mapper.platform.PlatformLogLoginMapper">

    <select id="getPlatformLoginLog" resultType="com.push.common.webfacade.vo.platform.LoginLogVO">
        SELECT
        pu.user_name,
        pl.login_ip,
        pl.login_status,
        pl.create_time,
        pl.update_time
        FROM
        platform_log_login pl
        LEFT JOIN platform_user_info pu ON pl.user_id = pu.id
        <where>
            pl.delete_flag=0
            <if test="userName != null and userName != ''">
                and pu.user_name like concat('%',#{userName},'%')
            </if>
            <if test="loginIp != null and loginIp != ''">
                and pl.login_ip like concat('%',#{loginIp},'%')
            </if>
            <if test="startTime != null">
                and pl.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and pl.create_time &lt;= #{endTime}
            </if>
        </where>
        order by pl.create_time desc
    </select>
</mapper>
