<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.push.dao.mapper.platform.StatisticsBillMapper">

    <select id="getDealMoney" resultType="java.math.BigDecimal">
        select SUM(sum_money) from statistics_bill where record_time BETWEEN #{begin} and #{end}
        <if test="handleType != null">
            and handle_type=#{handleType}
        </if>
        <if test="status != null">
            and status=#{status}
        </if>
        <if test="userType != null">
            and user_type=#{userType}
        </if>
    </select>
</mapper>
