<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>
    <springProperty scope="context" name="log.dir" source="logging.file.path"/>
    <springProperty scope="context" name="plumelog.redis.host" source="plumelog.redis.host"/>
    <springProperty scope="context" name="plumelog.redis.password" source="plumelog.redis.password"/>

    <!--<property name="maxFileSize_root" value="30MB" />-->
    <property name="pattern_root" value="%date %level [%thread] %logger [%file:%line] - %msg%n"/>
    <property name="fileNamePattern_root_info" value="${log.dir}/info_%d{yyyyMMdd-HH}.log"/>
    <property name="fileNamePattern_root_error" value="${log.dir}/error_%d{yyyyMMdd-HH}.log"/>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${pattern_root}</pattern>
        </layout>
    </appender>

    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>${pattern_root}</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${fileNamePattern_root_info}</fileNamePattern>
            <!--                       <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                                       <maxFileSize>${maxFileSize_root}</maxFileSize>
                                   </timeBasedFileNamingAndTriggeringPolicy>-->
            <!-- 如果当前是按小时保存，则保存 240 小时（= 10 天）内的日志 -->
            <maxHistory>120</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${pattern_root}</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${fileNamePattern_root_error}</fileNamePattern>
            <!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                            <maxFileSize>${maxFileSize_root}</maxFileSize>
                        </timeBasedFileNamingAndTriggeringPolicy>-->
            <!-- 如果当前是按小时保存，则保存 240 小时（= 10 天）内的日志 -->
            <maxHistory>120</maxHistory>
        </rollingPolicy>
    </appender>

<!--    <appender name="plumeLog" class="com.plumelog.logback.appender.RedisAppender">
        <appName>${spring.application.name}</appName>
        <redisHost>${plumelog.redis.host}</redisHost>
        <redisAuth>${plumelog.redis.password}</redisAuth>
        <redisPort>6379</redisPort>
        <runModel>2</runModel>
        <maxCount>1000</maxCount>
        <logQueueSize>100000</logQueueSize>
    </appender>-->

    <!-- 异步输出 -->
    <appender name="asyncInfoLog" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="fileInfoLog"/>
    </appender>

    <appender name="asyncErrorLog" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>256</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="fileErrorLog"/>
    </appender>

    <root level="info">
        <appender-ref ref="consoleLog"/>
 <!--       <appender-ref ref="asyncInfoLog"/>
        <appender-ref ref="asyncErrorLog"/>
        <appender-ref ref="plumeLog" />-->
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>

</configuration>