<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.push.dao.mapper.shop.CpShopBillInfoMapper">

    <insert id="saveBatch">
        insert into cp_shop_bill_info(trader_user_id,trade_no
        ,`type`,money,balance,last_balance,last_time,status)
        values
        <foreach collection="cpShopBillInfos" index="index" separator="," item="cp">
            (#{cp.traderUserId},#{cp.tradeNo},#{cp.type},
            #{cp.money},#{cp.balance},#{cp.lastBalance},
            #{cp.lastTime},#{cp.status})
        </foreach>
    </insert>
</mapper>
